@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@700&display=swap");
:root {
    --bg-dark: #171717;
    --bg-accent: #272727;
    --color-primary: rgb(213, 200, 200);
    --color-primary-dark: #989393;
    --color-secondary: #6e6a6a;
    --ff-header: "Oxanium";
}

* {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-header);
}

.header-links a:hover {
    color: var(--color-primary) !important;
}
